@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>


    <table class="table-condensed">
        
        @foreach (var note in Model.Notes)
        {
        <tr>
            <td>
                @note.Id

                @note.Content
                <br>
                by <b>@note.Author</b> at @note.DnT
            </td>

            
            <td>
                @note.Likes likes
            </td>

            <td>
                @note.Comments.Count comments
            </td>
            <td>
                <a class="btn btn-lg" asp-page="./Details" asp-route-noteId="@note.Id"><i class="glyphicon glyphicon-plus"></i></a>
            </td>



        </tr>
            }
        
    </table>
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">
        @Model.Message
    </div>
}
